#collaboratorRegisterProfile {


    h2 {
        margin-top: 1px !important;
        margin-left: 38%;
    }

    .back {
        margin-top: 0 !important;
    }

    .content-scroll {
        overflow: auto;
        height: calc(100vh - 280px);
    }

    .navigation-buttons {
        margin-top: 0px !important;
        padding-right: 50px !important;
    }
}