<div id="collaboratorRegisterProfile" class="page" fxLayout="column">
    <div class="back" fxLayout="row" fxLayoutAlign="start center">
        <button mat-button class="btn-arrow-back" color="primary" (click)="listCollaborator()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <h2 class="title">{{ "auth-service-list.collaborators" | translate }}</h2>
    </div>
    <div class="content-scroll" *ngIf="collaboratorProfileForm">
        <form (submit)="next()" [formGroup]="collaboratorProfileForm" fxLayout="column" class="form-control">
            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="50" class="example-full-width" appearance="outline">
                    <mat-label>{{ "auth-service-list.name" | translate }}</mat-label>
                    <input type="text" placeholder="Colaborador" aria-label="text" #filter matInput
                        [matAutocomplete]="auto" [formControl]="collaboratorControl" />
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let collaborator of filteredCollaborators" [value]="collaborator">
                            {{ collaborator.firstNameCorporateName }}
                            {{ collaborator.lastNameFantasyName }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>{{ "auth-service-list.email" | translate }}</mat-label>
                    <input matInput formControlName="email" placeholder="Email" readonly />
                    <mat-error *ngIf="
              collaboratorProfileForm &&
              collaboratorProfileForm.controls['email'].hasError('required')
            ">
                        {{ "validators.validator-required" | translate }}
                    </mat-error>
                    <mat-error *ngIf="
              collaboratorProfileForm &&
              collaboratorProfileForm.controls['email'].hasError('email')
            ">
                        {{ "validators.validator-email" | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>{{ "auth-service-list.ddd" | translate }}</mat-label>
                    <input type="text" placeholder="DDD" formControlName="ddd" matInput mask="(00)" readonly />
                </mat-form-field>
                <mat-form-field fxFlex="70" appearance="outline">
                    <mat-label>{{
                        "auth-service-list.phone_number" | translate
                        }}</mat-label>
                    <input matInput type="text" placeholder="Telefone" phoneNumber mask="0000-0000 || 00000-0000"
                        formControlName="phoneNumber" readonly />
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="50" class="example-full-width" appearance="outline">
                    <mat-label>{{ "auth-service-list.profile" | translate }}</mat-label>
                    <input type="text" placeholder="Perfil" aria-label="text" #filter matInput [matAutocomplete]="now"
                        [formControl]="profileControl" />
                    <mat-autocomplete autoActiveFirstOption #now="matAutocomplete" [displayWith]="displayFnProfile">
                        <mat-option *ngFor="let profile of filteredProfiles" [value]="profile">
                            {{ profile.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>{{ "auth-service-list.login" | translate }}</mat-label>
                    <input matInput formControlName="login" placeholder="Login" readonly />
                    <mat-error *ngIf="
              collaboratorProfileForm &&
              collaboratorProfileForm.controls['login'].hasError('required')
            ">
                        {{ "validators.validator-required" | translate }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label class="label">{{
                        "auth-service-list.password" | translate
                        }}</mat-label>
                    <input matInput formControlName="password" placeholder="Senha"
                        [type]="show ? 'text' : 'password'" />
                    <mat-icon class="icon" matPrefix (click)="passwordShow()">{{
                        show === false ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    <mat-error *ngIf="
              collaboratorProfileForm &&
              collaboratorProfileForm.controls['password'].hasError('required')
            ">
                        {{ "validators.validator-required" | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">
        <button mat-flat-button [disabled]="collaboratorProfileForm.invalid" color="primary"
            (click)="saveCollaborator()">
            {{ "auth-service-list.button_save" | translate }}
        </button>
    </div>
</div>