<div id="collaboratorRegisterProfile" class="page" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-button class="btn-arrow-back" color="primary"
            (click)="listCollaborator()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <h2 class="title">Colaboradores</h2>
    </div>
    <div class="content-scroll" *ngIf="collaboratorProfileForm">
        <form (submit)="next()" [formGroup]="collaboratorProfileForm"
            fxLayout="column" class="form-control">
            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="35" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Cargo" formControlName="name"
                        />
                </mat-form-field>

                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput
                        formControlName="email" placeholder="Email" />
                </mat-form-field>

                <mat-form-field fxFlex="20" appearance="outline">
                    <mat-label>DDD</mat-label>
                    <input matInput mask="(00)" formControlName="ddd"
                        placeholder="DDD" />
                </mat-form-field>

                <mat-form-field fxFlex="15" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="phoneNumber"
                        placeholder="Telefone" mask="0000-0000||00000-0000" />
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayoutGap="16px">
                <mat-form-field fxFlex="35" appearance="outline">
                    <mat-label>Perfil</mat-label>
                    <mat-select matInput formControlName="profile">
                        <mat-option [value]="1">Diretor Tecnologia</mat-option>
                        <mat-option [value]="2">Diretor Comercial</mat-option>
                        <mat-option [value]="3">Diretor Administrativo</mat-option>
                        <mat-option [value]="4">Gerente de Operações</mat-option>
                        <mat-option [value]="5">Coordenador RH</mat-option>
                        <mat-option [value]="6">Coordenador AMS</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="35" appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput formControlName="login"
                        placeholder="Login" />
                </mat-form-field>

                <mat-form-field fxFlex="30" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput mask="00/00/0000" formControlName="password"
                        placeholder="Senha" type="password" />
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="navigation-buttons" fxLayoutAlign="center end"
        fxLayoutGap="16px">
        <button mat-flat-button color="primary">Salvar</button>
    </div>
</div>