TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_PORT=3306
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=1234
TYPEORM_DATABASE=esigi_auth_service

JWT_SECRET_KEY=abacaxi

SEND_GRID_ACCESS_KEY=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
FROM_EMAIL=envolti.com@gmail.com 